<a href="https://colab.research.google.com/github/gentlelentil/FMP_Cheminformatics_2022/blob/main/Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
stringo="The treasure us buried under the bridege "
print(stringo[:33])
long_str= "Now, that, is a very log string"
print(long_str.split(","))
print(long_str.split(",")[2])
string1='Is This The SAME String???'
string2="is this The same string???"
print(string1==string2)
print(string1.lower()==string2.lower(),"\n",string1.lower())
print("This is a new line \n and this here is the second line \ n is. Look we got 'strings'")

The treasure us buried under the
['Now', ' that', ' is a very log string']
 is a very log string
False
True
 is this the same string???
This is a new line
 and this here is still the second line \ n is. Look we got 'strings'

In [ ]:
print(1<=1)
print(1<1)
print(1!=4)
print(1.0==1)
print(int("3"))
10%5, 10%9

True
False
True
True

(0, 1)

In [ ]:
list1=[]
list1.append(3)
list1[0]==3
list2=[1]+[2]
list3=[2]*5
print(list1, " list1 and here list2: ",list2,"\n and here is List3 ",list3)
if len(list3)==5:
  print(5)
else:
  print("Too short")
list3=list3[:3]
if len(list3)==5:
  print(5)
else:
  print("Too short: List3= ", list3)
list4=[1,1,1,2,2,2,3,3,3,3,4,4,4,45,5,5,]
set(list4)

[3]  list1 and here list2:  [1, 2]
 and here is List3  [2, 2, 2, 2, 2]
5
Too short: List3=  [2, 2, 2]

{1, 2, 3, 4, 5, 45}

In [ ]:
dict0={}
dict0["Dictionaries can store many different things"]=[1,"2",None,True,False]
dict0

{'Dictionaries can store many different things': [1, '2', None, True, False]}

In [ ]:
listA=[1,2,3]
try:
  listA+3
except:
  print("You cannot do this, Use try and except if you want to supress errors")
listB=np.asarray(listA)
listB+3

You cannot do this, Use try and except if you want to supress errors

array([4, 5, 6])

In [ ]:
def test_function(input):
  try:
      if input.lower()!="cheese":
       print("This is not cheese")
      else:
       print("This is cheese")
  except:
    if input==4:
      print("This is a lucky number!")
    if input > 10:
       print("This is toooo high")
    else:
      print("Wrong number")
  return input
test_function(3)

Wrong number

3

In [ ]:
test_function("CHeeSe"),test_function("bread")

This is cheese
This is not cheese

('CHeeSe', 'bread')